// Colors
$mainBlue: #205493;
$mainWhite: #ffffff;
$linkText: #005ea2;
$navText: #585c62;
$mainText: #171717;
$helperText: rgba(255, 255, 255, 0.5);
$errorText: #e31c3d;
$submitButton: #005ea2;
$ctaButton: #d83933;
$localeIcon: #5b616b;
$activeLocale: #0872b9;
$inactiveLocae: #c9c9c9;
