.c_contact {
  display: flex;
  flex-direction: column;
  padding: 64px;

  &__headline {
    display: block;
    font-family: Roboto;
    font-size: 48px;
    font-weight: bold;
    margin: 40px 0px;
    line-height: 1.17;
    color: var(--black);
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__col {
      width: 50%;
      flex: 1;
      padding-right: 16px;

      &__contact_image {
        width: 100%;
        background-color: #c4c4c4;
      }

      &__blurb {
        margin-top: 40px;

        &__headline {
          font-family: Roboto;
          font-size: 24px;
          font-weight: bold;
          line-height: 1.33;
          color: var(--black);
        }

        &__info {
          font-family: Roboto;
          font-size: 18px;
          font-weight: regular;
          line-height: 28px;
          color: var(--black);

          &__link {
            font-weight: medium;
            color: #005ea2;
          }
        }
      }
    }

    &__form_col {
      flex: 1;
      width: 50%;
      padding-left: 16px;

      &__form_title {
        font-family: Roboto;
        font-size: 32px;
        font-weight: bold;
        margin: 0px 0px 20px 0px;
        line-height: 1.25;
        color: var(--black);
      }

      &__form {
        display: flex;
        flex-direction: column;

        &__row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          &__half {
            flex: 1;
          }

          &__gutter {
            flex-basis: 32px;
          }

          &__label {
            font-family: Roboto;
            font-size: 16px;
            margin: 4px 0px;
            line-height: 1.5;
            color: #585c62;

            &__required {
              color: #d83933;
            }

            &__optional {
              color: #c9c9c9;
            }
          }
        }

        &__field {
          font-family: Roboto;
          font-size: 18px;
          width: 100%;
          border-radius: 4px;
          line-height: 1.56;
          margin: 0px 0px 20px 0px;
          border: solid 1px #c9c9c9;
          background-color: var(--white);
          padding: 16px 24px 12px 24px;
        }

        &__textarea {
          font-family: Roboto;
          font-size: 18px;
          width: 100%;
          border-radius: 4px;
          line-height: 1.56;
          margin: 0px 0px 20px 0px;
          border: solid 1px #c9c9c9;
          background-color: var(--white);
          padding: 16px 24px 12px 24px;
        }

        &__submit {
          padding: 16px 32px;
          margin: 12px 8px;
          border-radius: 8px;
          font-family: Roboto;
          font-size: 24px;
          font-weight: bold;
          letter-spacing: 0.48px;
          color: #ffffff;
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
          background-color: #005ea2;
        }
      }
    }
  }
}
