.c_home {
	$gutter-width: 40px;

	display: flex;
	flex-direction: column;
	background-color: #f2f2f2;

	&__overlay {
		display: flex;
		flex-direction: column;
		position: absolute;
		text-align: left;
		color: whitesmoke;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		padding: 5% 0 0 10%;

		&__title {
			margin: 2.75rem 2rem 1rem 2rem;
			font-weight: bold;
			font-size: 2.5em;
		}

		&__message {
			margin: 0 2rem;
			font-size: 1.75em;
			font-weight: 100;
			
			@media (max-width: 800px) {
				display: none;
			}

		}
	}

	&__carousel-item {
		width: 100%;
		display: flex;
		height: 60vh;
		overflow: hidden;
		position: relative;
		max-height: 330px;

		&__image {
			position: absolute;
			top: -9999px;
			right: -9999px;
			bottom: -9999px;
			left: -9999px;
			margin: auto;
			opacity: 0.4;

		}
	}

	&__header {
		margin: 0;
		font-weight: bold;
		font-size: 36px;
	}

	&__subheader {
		margin: 0;
		font-weight: normal;
	}

	&__content {
		margin: $gutter-width auto;
		display: flex;
		flex-direction: column;

		&__title {
			margin: 0;
			font-weight: 400;
			font-size: 2.5em;
		}

		&__text {
			font-size: 1em;
		}

		&__video {
			display: flex;
			flex-direction: row;
			justify-content: center;
			padding: 10px;
			max-width: 600px;

			@media (min-width: 800px) and (max-width: 1200px) {
				order: 1;
			}
		}
	}

	&__top-reasons {
		display: flex;
		flex-direction: column;
		background-color: #fdfeff;
		margin: 10px;
		border-radius: 8px;
		box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
		box-sizing: border-box;
		border-radius: 8px;
		padding-right: 5px;
		max-width: 600px;

		@media (max-width: 800px) {
			width: 80vw;
			min-height: 80vw;
		}

		@media (min-width: 800px) and (max-width: 1200px) {
			width: 380px;
			height: 380px;
			order: 0;
		}

		@media (min-width:  1200px) {
			flex-grow: 1;
		}
	}

	&__factoids {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0 .5rem;
		box-sizing: border-box;
		max-width: 1280px;
	}

	&__factoid {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		height: 300px;
		width: 30%;
		min-width: 300px;
		background-color: #fdfeff;
		margin: 10px;
		border-radius: 8px;
		box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);

		@media (max-width: 800px) {
			width: 80vw;
			max-width: 25rem;
			max-height: 20rem;
			min-height: 80vw;	
		}

		@media (min-width: 800px) {
			width: 380px;
			height: 320px;
		}


		&__title {
			font-size: 17px;
			font-weight: bold;
		}

		&__message {
			font-size: 17px;
			font-weight: 100;
		}

		&__link {
			font-size: 20px;
			font-weight: bold;
			text-decoration: none;
			color: #2F80ED;
			margin: 25px;
		}

		&__line {
			width: 30vw;
			margin: 30px;
			border-bottom: 1px solid #bbbbbb;
			margin: auto 0 0 0;
			width: 100%;
		}

		&__goldHeader {
			border-top-left-radius: 7px;
			border-top-right-radius: 7px;
			width: 100%;
			min-height: 100px;
			height: 10vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background: linear-gradient(
				to right,
				rgb(246,188,137),
				rgb(246,220,139)
			);
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 0 33px;
		}

		&__header-text {
			display: flex;
			flex-direction: column;
		}

		&__content {
			padding: 30px;
			flex: 1;

			// Currently, FormattedMarkdownMessage wraps output with <p> tags--get rid of the
			// default browser padding
			p {
				margin: 0;
			}
		}

		&__footer {
			border-top: 1px solid #bbbbbb;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		$icon-container-size: 66px;

		@mixin factoid-header-icon {
			content: "";
			width: $icon-container-size;
			min-width: $icon-container-size;
			max-width: $icon-container-size;
			height: $icon-container-size;
			min-height: $icon-container-size;
			max-height: $icon-container-size;
			background-color: #FFFFFF;
			border-radius: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 20px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 70%;
		}

		&__qr-code &__goldHeader::before {
			@include factoid-header-icon();
			background-image: url('../images/qrcode-scan.svg');
		}

		&__qr-code &__content {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&__safety &__goldHeader::before {
			@include factoid-header-icon();
			background-image: url('../images/shield.svg');
		}
		
		&__should-i-complete &__goldHeader::before {
			@include factoid-header-icon();
			background-image: url('../images/bar-chart.svg');
		}
	}

	&__video-container {
		display: flex;
		flex-direction: row;
		width: 100%;
		max-width: 1200px;
		align-self: center;
		padding: 3% 0 3% 0;
	}
}
