.c_home {
	display: flex;
	flex-direction: column;
	background-color: #f2f2f2;

	&__overlay {
		display: flex;
		flex-direction: column;
		position: absolute;
		text-align: left;
		color: whitesmoke;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;

		&__title {
			margin: 2.75rem 2rem 1rem 2rem;
			font-weight: bold;
			font-size: 2.5em;
		}

		&__message {
			margin: 0 2rem;
			font-size: 1.75em;
			font-weight: 100;
		}
	}

	&__carousel-item {
		width: 100%;
		height: 60vh;
		overflow: hidden;
		position: relative;
		max-height: 370px;

		&__image {
			position: absolute;
			top: -9999px;
			right: -9999px;
			bottom: -9999px;
			left: -9999px;
			margin: auto;
			opacity: 0.4;

		}
	}

	&__messages {
		display: flex;
		flex-direction: row;
		width: 100%;
		padding: 2% 5% 2% 5%;
		list-style: none;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-self: center;
		max-width: 1200px;
		margin: 2em 2em;

		&__title {
			margin: 0;
			font-weight: 400;
			font-size: 2.5em;
		}

		&__text {
			font-size: 1em;
		}

		&__video {
			display: flex;
			align-self: center;
		}
	}

	&__top-reasons {
		display: flex;
		flex-direction: column;
		background-color: #fdfeff;
		margin: 10px;
		border: solid 1px #005ea2;
		border-radius: 8px;
		box-shadow: 0 0 8px 1px rgb(132, 134, 162);

		&__small {
			width: 80vw;
			min-height: 80vw;
		}

		&__medium {
			width: 380px;
			height: 380px;
		}

		&__large {
			flex-grow: 1;
		}
	}

	&__factoids {
		display: flex;
		flex-direction: row;
		align-self: center;
		justify-content: center;
		flex-wrap: wrap;
		max-width: 1200px;
		padding: 0;
	}

	&__factoid {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		background-color: #fdfeff;
		margin: 10px;
		border: solid 1px #005ea2;
		border-radius: 8px;
		box-shadow: 0 0 8px 1px rgb(132, 134, 162);

		&__desktop {
			width: 380px;
			height: 380px;
		}

		&__mobile {
			width: 80vw;
			min-height: 80vw;	
		}

		&__title {
			font-size: 17px;
			font-weight: bold;
			text-align: center;
		}

		&__message {
			font-size: 17px;
			font-weight: 100;
			text-align: center;
		}

		&__link {
			font-size: 20px;
			font-weight: bold;
			text-decoration: none;
			color: #2F80ED;
			margin: 25px;
		}

		&__line {
			width: 30vw;
			margin: 30px;
			border-bottom: 1px solid #bbbbbb;
			margin: auto 0 0 0;
		}

		&__goldHeader {
			border-top-left-radius: 7px;
			border-top-right-radius: 7px;
			width: 100%;
			min-height: 100px;
			height: 10vh;
			background: linear-gradient(
				to right,
				rgb(246,188,137),
				rgb(246,220,139)
			);
		}

		&__content {
			text-align: center;
		}
	}

	&__video-container {
		display: flex;
		flex-direction: row;
		width: 100%;
		max-width: 1200px;
		align-self: center;
	}
}
