.c_footer {
  background-color: #005EA2;
  color: #FFFFFF;
  padding: 4rem 6rem 4rem 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

  &__logo {
    height: 6rem;
  }

  &__link {
    color: #FFFFFF;
    text-decoration: none;
  }

  @mixin contact-link($icon) {
    display: flex;

    &::before {
      content: url('../images/#{$icon}.svg');
      filter: invert(1);
      margin-right: .8rem;
    }
  }
  
  &__contact-us {
    margin: 2rem 4rem 2rem 4rem;
    
    &__email {
      @include contact-link('mail');
      margin-bottom: 18px;
    }

    &__phone {
      @include contact-link('phone');
    }

    &__social-links {
      line-height: 1.5rem;
      font-size: 1.1rem;

      a {
        color: white;
      }
    }
  }

  &__nav-links {
    list-style: none;
    padding-left: 0;

    &__item {
      margin-bottom: 8px;
    }
  }
}
