.c_locale-picker {
  display: flex;
  align-items: center;

  &::before {
    content: url('../images/globe.svg');
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 15px;
  }

  &__option {
    cursor: pointer;
    color: #0872B9;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    font-weight: bold;
    padding: 0;
    position: relative;
    margin-right: 20px;

    // Add a separator bar after every item in the locale picker...
    &::after {
      content: '|';
      color: #ADADAD;
      display: inline-block;
      position: absolute;
      margin: 0 8px;
    }

    // ...except for the last one
    &:last-child {
      margin-right: 0;

      &::after {
        content: none;
      }
    }

    &[disabled] {
      color: #C9C9C9;
      cursor: default;
    }
  }
}
