.c_locale-picker {
  &__option {
    cursor: pointer;
    color: #0872B9;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    font-weight: bold;
    padding: 0;
    position: relative;
    margin-right: 20px;

    &::after {
      content: '|';
      color: #ADADAD;
      display: inline-block;
      position: absolute;
      margin: 0 8px;
    }
    &:last-child {
      margin-right: 0;

      &::after {
        content: none;
      }
    }

    &[disabled] {
      color: #C9C9C9;
      cursor: default;
    }
  }
}
