.c_navigation {
  $horizontal-spacing: 2em;
  $vertical-spacing: 1.75em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding: $vertical-spacing $horizontal-spacing;
  align-items: center;

  &__logo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
    border-radius: 6em;
    background: white;
    height: 12em;
    width: 12em;
    z-index: 1;
    text-align: center;
  
    &__image {
      width: 60%;
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 230px;
  }

  &__link {
    font-size: 18px;
    font-weight: 400;
    margin-right: 40px;
    color: #000000;
    text-transform: uppercase;

    &--active {
      color: #2F80ED;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &,
    &:hover,
    &:visited {
      text-decoration: none;
      font-weight: 400;
    }
  }

  &__census-link {
    background-color: #2F80ED;
    text-transform: uppercase;
    position: absolute;
    padding: 18px 32px;
    right: 32px;
    top: 85%;
    font-weight: bold;
    font-size: 22px;
    z-index: 1;
    border-radius: 5px;
    width: 260px;

    &,
    &:hover,
    &:active,
    &:visited {
      color: #FFFFFF;
      text-decoration: none;
    }
  }

  .c_locale-picker {
    position: absolute;
    right: $horizontal-spacing;
    top: $vertical-spacing;
  }
}
