.c_navigation {
  $horizontal-spacing: 25px;
  $vertical-spacing: 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding: $vertical-spacing $horizontal-spacing;
  align-items: center;

  &__logo {
    position: absolute;
    padding: 45px 0;
    border-radius: 100%;
    background: white;
    width: 210px;
    z-index: 1;
    text-align: center;

    &__image {
      height: 75px;
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 230px;
  }

  &__link {
    font-size: 18px;
    font-weight: 400;
    margin-right: 40px;
    color: #000000;
    text-transform: uppercase;

    &--active {
      color: #2F80ED;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &,
    &:hover,
    &:visited {
      text-decoration: none;
      font-weight: 400;
    }
  }

  &__census-link {
    background-color: #2F80ED;
    text-transform: uppercase;
    position: absolute;
    padding: 18px 32px;
    right: 32px;
    top: 85%;
    font-weight: bold;
    font-size: 22px;
    z-index: 1;
    border-radius: 5px;

    &,
    &:hover,
    &:active,
    &:visited {
      color: #FFFFFF;
      text-decoration: none;
    }
  }

  .c_locale-picker {
    position: absolute;
    right: $horizontal-spacing;
    top: $vertical-spacing;
  }
}
