.c_navigation {
  $horizontal-spacing: 32px;
  $vertical-spacing: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding: $vertical-spacing $horizontal-spacing;
  align-items: center;
  box-shadow: 0 2px 9px -2px #D9D9D9;

  &__logo {
    &__image {
      width: 200px;
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  &__link {
    color: #5B616B;
    font-size: 36px;
    font-weight: bold;
    margin: 0 16px;
    color: #000000;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &,
    &:hover,
    &:visited {
      text-decoration: none;
      font-weight: bold;
    }
  }

  &__census-link {
    background-color: #D83933;
    position: absolute;
    padding: 30px;
    right: 32px;
    top: 85%;
    font-weight: bold;
    font-size: 30px;
  }

  .c_locale-picker {
    position: absolute;
    right: $horizontal-spacing;
    top: $vertical-spacing;
  }
}
