.c_navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__links {
    display: flex;
    flex-direction: row;

    > * {
      margin: 0 0.5em;
    }
  }

  .navlink.active {
    cursor: default;
  }
}
