.c_sample-census {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: auto;
  background-color: #F2F2F2;

  &__content {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    max-width: 800px;

    &__hohh-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      padding: 1em;
      box-sizing: border-box;

      &__button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 47%;
        margin-right: 3%;
        border: none;
        border-radius: 3px;
        font-size: 1em;
        color: #2F80ED;
        background-color: #FFFFFF;

        &__left {
          margin-right: 3%;
        }

        &__right {
          margin-left: 3%;
        }

        &--active {
          color: #FFFFFF;
          background-color: #2F80ED;
        }
      }
    }

    &__title {
      margin: 10px;
      text-align: center;
    }

    &__subtitle {
      margin: 10px;
    }

    &__button-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      list-style: none;
      flex-wrap: wrap;
      padding: 0;

      &__item {
        height: 3.5em;
        width: 10%;
        min-width: 80px;
        max-width: 120px;
        margin: 5px;

        &__button {
          width: 100%;
          height: 100%;
          border: none;
          border-radius: 3px;
          background-color: #FFFFFF;
          color: grey;

          &--active {
            background-color: #2F80ED;
            color: #FFFFFF
          }
        }
      }
    }

    &__census-questions {
      list-style: none;
      padding: 0;

      &__card {
        flex-direction: column;
        width: 100%;
        background-color: white;
        padding: 5vh 5vw;
        border-radius: 3px;
        display: none;

        &--active {
          display: block;
        }

        &__header {
          border-bottom: 1px solid #000000;
        }

        &__question {
          display: inline;
          margin: 0;

          &__label {
            color: #2f80ed;
          }
        }

        &__info-list {
          display: flex;
          flex-direction: column;
          width: 100%;
          list-style: none;
          padding: 0;
        }

        &__explanation-title {
          background-color: #F7CB8A;
          padding: .25rem;
          max-width: 8rem;
          text-align: center;
          border-radius: .25rem;
          margin: 0;
          margin-top: 2rem;
        }

        &__explanation {
          margin-top: .25rem;
        }
      }
    }

    &__answer-box {
      margin: 10px;

      &__header {
        padding: 5px;
        background-color: #F7CB8A;
        border-radius: 3px;
        display: inline;
      }
    }
  }

  &__question {
    &__textarea {
      height: 2em;
      border: none;
      border-radius: 3px;
      padding: 0.25em 3em;
      background-color: #2F80ED88;
      text-align: center;
      cursor: text;
    }

    &__checkbox-list {
      display: flex;
      flex-direction: column;
      padding: 0;
      list-style-type: none;

      &__checkbox {
        margin: 0.5em;
      }
    }

    &__1 {
      &__secondary {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }
}
