.c_sample-census {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: auto;
  background-color: #F2F2F2;

  &__content {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    max-width: 800px;

    &__hohh-description {
      margin: 1rem;
    }

    &__hohh-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      box-sizing: border-box;

      &__button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-width: 300px;
        margin: .5rem;
        padding: .5rem;
        box-sizing: border-box;
        border: none;
        border-radius: 3px;
        font-size: 1em;
        color: #2F80ED;
        background-color: #FFFFFF;
        width: 48%;

        &__icon-container {
          min-height: 3rem;
          min-width: 3rem;
          background-color: white;
          border-radius: 1.5rem;
          padding: .25rem;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: .5rem;

          &__hohh-icon {
            height: 80%;
            width: 80%;
            background-color: inherit;
          }
        }

        &__nonhohh-icon {
          height: 3rem;
          width: 3rem;
          border-radius: 1.5rem;
          padding: .25rem;
          box-sizing: border-box;
          margin-right: .5rem;

          &--white {
            background-color: white;
          }
        }

        &--active {
          color: #FFFFFF;
          background-color: #2F80ED;
        }
      }
    }

    &__title {
      margin: 1rem;
      text-align: left;
      align-self: flex-start;
    }

    &__subtitle {
      margin: 1rem;
      align-self: flex-start;
    }

    &__button-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      list-style: none;
      flex-wrap: wrap;
      padding: 0;

      &__item {
        height: 3.5em;
        min-width: 50px;
        max-width: 70px;
        flex-grow: 1;
        margin: 5px;

        &__button {
          width: 100%;
          height: 100%;
          border: none;
          border-radius: 3px;
          background-color: #FFFFFF;
          color: grey;

          &--active {
            background-color: #2F80ED;
            color: #FFFFFF
          }
        }
      }
    }

    &__census-questions {
      list-style: none;
      padding: 0;
      width: 100%;

      &__card {
        flex-direction: column;
        width: 100%;
        min-width: 100%;
        background-color: white;
        border-radius: 3px;
        display: none;

        &--active {
          display: block;
        }

        &__section {
          padding: 5vh 5vw;
          border-bottom: 1px solid #BDBDBD;            

          &:last-of-type {
            border-bottom: none;
          }
        }

        &__header {
          border-bottom: 1px solid #000000;
        }

        &__question {
          display: inline;
          margin: 0;

          &__label {
            color: #2f80ed;
          }
        }

        &__answer-format {
          &__label {
            font-size: 20px;
            margin: 30px 0 16px 0;
          }

          &__box {
            background: #F2F2F2;
            border: 1px solid #E5E5E5;
            padding: 21px 28px;
          }
        }

        &__info-list {
          display: flex;
          flex-direction: column;
          width: 100%;
          list-style: none;
          padding: 0;
        }

        &__explanation-title {
          background-color: #F7CB8A;
          padding: .25rem;
          max-width: 8rem;
          text-align: center;
          border-radius: .25rem;
          margin: 0;
        }

        &__explanation {
          margin-top: .25rem;
        }
      }
    }

    &__answer-box {
      margin: 10px;

      &__header {
        padding: 5px;
        background-color: #F7CB8A;
        border-radius: 3px;
        display: inline;
      }
    }
  }

  &__question {
    &__textarea {
      height: 2em;
      border: none;
      border-radius: 3px;
      padding: 0.25em 3em;
      background-color: #2F80ED88;
      text-align: center;
      cursor: text;
    }

    &__checkbox-list {
      display: flex;
      flex-direction: column;
      padding: 0;
      list-style-type: none;

      &__checkbox {
        margin: 0.5em;
      }
    }

    &__1 {
      &__secondary {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }
}
