@mixin form-field {
  border: 1px solid #5c5c5c;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  color: #1b1b1b;
  display: block;
  height: 2.5rem;
  margin-top: .5rem;
  padding: .5rem;
  width: 100%;
}

@mixin focus {
  outline: .25rem solid #2491ff;
  outline-offset: 0;
}
